body {
  background-color: aqua;
  display: flex;
}
td {
  width: 20px;
  height: 20px;
}

.color0 {
  background-color: transparent;
}
.color1 {
  background-color: green;
}
.color2 {
  background-color: white;
}
.color3 {
  background-color: orange;
}
